/* Footer Newsletter Klaviyo Form CSS Start */

.klaviyo-form-SCWSQz {
    text-align: left;   
    margin-top: 30px;
}
  
[data-testid="klaviyo-form-SCWSQz"] [data-testid="form-row"] {
    overflow: hidden;
    border: 0 !important;
    align-items: center !important;
    border-color: rgb(247 244 239 ) !important;
    border-bottom-width: 1px !important;
    border-style: solid !important;
}
  
[data-testid="klaviyo-form-SCWSQz"] [data-testid="form-row"] [data-testid="form-component"] input::placeholder,
[data-testid="klaviyo-form-SCWSQz"] [data-testid="form-row"] [data-testid="form-component"] input::-webkit-input-placeholder {
    color: rgb(247 244 239 / 50%) !important;
    font-family: "monotype-grotesque", sans-serif !important;
    font-size: 12px !important;
    line-height: 180% !important;
    letter-spacing: .04em !important;
    font-weight: 400 !important;
}

[data-testid="klaviyo-form-SCWSQz"] [data-testid="form-row"] [data-testid="form-component"] input {
    text-align: left !important;
    height: auto !important;
    outline: none !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;    
    color: rgb(247 244 239) !important;
    font-size: 12px !important;
    line-height: 180% !important;
    letter-spacing: .04em !important;
    font-weight: 400 !important;
    font-family: "monotype-grotesque", sans-serif !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 0 !important;
    background-color: transparent !important;
    width: 100% !important;
}

[data-testid="klaviyo-form-SCWSQz"] > div {
    min-height: auto !important;
}

[data-testid="klaviyo-form-SCWSQz"] [data-testid="form-row"] [data-testid="form-component"] button[type="button"] {
    position: relative !important;
    height: auto !important;
    width: auto !important;
    text-transform: uppercase !important;
    color: #F7F4EF !important;
    font-family: "monotype-grotesque", sans-serif !important;
    border-radius: 0 !important;
    padding: 0 !important;
    font-weight: 400 !important;
    background: transparent !important;
    font-size: 11px !important;
    line-height: 120% !important;
    letter-spacing: .1em !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    border: none !important;
}

[data-testid="klaviyo-form-SCWSQz"] h1,
[data-testid="klaviyo-form-SCWSQz"] h1 span {
    margin: 0 !important;
    position: relative !important;;
    padding: 10px 0 !important;
    display: inline-block !important;
    font-size: 12px !important;
    line-height: 180% !important;
    letter-spacing: .04em !important;
    font-weight: 400 !important;  
    color: #F7F4EF !important;
    font-family: "monotype-grotesque", sans-serif !important;
    text-align: left !important;
}

[data-testid="klaviyo-form-SCWSQz"] h1 span {
    padding: 0 !important;
}

/* Footer Newsletter Klaviyo Form CSS End */

/* Popup Newsletter Klaviyo Form CSS start */

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-VxW72A"] .kl-private-reset-css-Xuajs1 {
    min-height: auto !important;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-VxW72A"] h2 span {
    font-style: normal !important;
    font-family: "dejanire-text", sans-serif !important;
    font-size: 22px !important; 
    font-weight: 400 !important;
    line-height: 135% !important;
    letter-spacing: .17em !important;
    text-align: left !important;
    color: #F7F4EF !important;
    text-transform: uppercase !important;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-VxW72A"]  p {
    max-width: 380px !important;
    margin-left: 0;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-VxW72A"]  p span {
    font-family: "monotype-grotesque", sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 180% !important;
    letter-spacing: 0.03em !important;
    text-align: left !important;
    color: #F7F4EF !important;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-VxW72A"] span {
    font-family: "monotype-grotesque", sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 180% !important;
    letter-spacing: 0.03em !important;
    text-align: left !important;
    color: #F7F4EF !important;
}

[data-testid="klaviyo-form-VxW72A"] [data-testid="form-row"]:last-child {
    overflow: hidden;
    border: 0 !important; 
    align-items: center !important;
    border-color: #F7F4EF !important;
    border-bottom-width: 1px !important;
    border-style: solid !important;
}

[data-testid="klaviyo-form-VxW72A"] [data-testid="form-row"] [data-testid="form-component"] input::placeholder,
[data-testid="klaviyo-form-VxW72A"] [data-testid="form-row"] [data-testid="form-component"] input::-webkit-input-placeholder {
    color: #F7F4EF !important;
    font-family: "fraunces", sans-serif !important;
    font-size: 12px !important;
    line-height: 22px !important;
    letter-spacing: .08em !important;
    font-weight: 400 !important;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-VxW72A"] input[type=email] {
    text-align: left !important;
    height: auto !important;
    outline: none !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;    
    color: #F7F4EF !important;
    font-size: 12px !important;
    line-height: 22px !important;
    letter-spacing: .08em !important;
    font-weight: 400 !important;
    font-family: "fraunces", sans-serif !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 0 !important;
    background-color: transparent !important;
    width: 100% !important;
    text-transform: lowercase !important;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-VxW72A"] button[type=button] {
    position: relative !important;
    height: auto !important;
    width: auto !important;
    text-transform: uppercase !important;
    color: #F7F4EF !important;
    font-family: "monotype-grotesque", sans-serif !important;
    border-radius: 0 !important;
    padding: 0 !important;
    font-weight: 400 !important;
    background: transparent !important;
    font-size: 11px !important;
    line-height: 150% !important;
    letter-spacing: .01em !important;
    text-transform: uppercase !important;
    border: none !important;
}


@media screen and (max-width: 767px) {

    .needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] {
        max-height: unset !important;
        transform: unset !important;
        width: calc(100% - 40px) !important;
        left: unset !important;
        margin: 0 auto !important;
        right: unset !important;
        margin: 0 20px !important;
        bottom: 20px !important;
    }

    .needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] [data-testid="FLYOUT"] > .kl-private-reset-css-Xuajs1::before {
        display: none !important;
    }


    .kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-VxW72A"] {
        max-width: 100% !important;
        width: 100% !important;
        min-width: 100% !important;
        padding: 40px 30px !important;
        border-radius: 0 !important; 
    }

    .needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] [data-testid="FLYOUT"] > .kl-private-reset-css-Xuajs1 {
        margin: 0 !important;
    }

    .needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] > .kl-private-reset-css-Xuajs1 {
        width: 100% !important;
    }

    .needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] [aria-label="Close dialog"] {
        margin-right: 15px !important;
        margin-top: 25px !important;
    }

}

/* Popup Newsletter Klaviyo Form CSS end */